<!-- footer.component.html -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Logo and Accreditation Section -->
      <div class="col-md-4 text-center">
        <img src="../../assets/logo.jpeg" alt="وسيط " class="footer-logo">
        <p>منصة رقمية معتمدة ومرخصة - المملكة العربية السعودية</p>
        <p>وزارة التجارة والاستثمار</p>
      </div>

      <!-- Services Section -->
      <div class="col-md-4 text-center">
        <h5>خدماتنا</h5>
        <ul class="footer-links">
          <li><a href="#">طلب تعميد</a></li>
          <li><a href="#">تسجيل دخول</a></li>
          <li><a href="#">اتصل بنا</a></li>
          <li><img class="parcode-image" src="../../assets/parcode.png" alt="parcode"></li>
        </ul>
      </div>

      <!-- Information Section -->
      <div class="col-md-4 text-center">
        <h5>معلومات</h5>
        <ul class="footer-links">
          <li><a href="#">من نحن</a></li>
          <li><a href="#">الشروط والأحكام</a></li>
          <li><a href="#">عمولة المنصة</a></li>
        </ul>
      </div>
    </div>

    <!-- Social Media and Copyright Section -->
    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
        <p>جميع الحقوق محفوظة © بوابة اعتماد الوساطة - المملكة العربية السعودية</p>
      </div>
    </div>
  </div>
</footer>