<div class="login-container my-5">
  <h2>تسجيل الدخول</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">اسم المستخدم:</label>
      <input type="text" id="username" (input)="resetLoading()" formControlName="userName" required>
      <div class="error-message" *ngIf="loginForm.get('userName')?.invalid && loginForm.get('userName')?.touched">
        يجب إدخال اسم المستخدم
      </div>
    </div>
    <div class="form-group">
      <label for="password">كلمة المرور:</label>
      <input type="password" (input)="resetLoading()" id="password" formControlName="password" required>
      <div class="error-message" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        يجب إدخال كلمة المرور
      </div>
    </div>
    <button type="submit" class="btn" [disabled]="loginForm.invalid">تسجيل الدخول</button>
    <div *ngIf="loading &&!errorMessage">جاري التسجيل...</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  </form>
  <div class="register-link">
    <p>ليس لديك حساب؟ <a routerLink="/register">قم بإنشاء حساب</a></p>
  </div>
</div>