.platform-commission-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  direction: rtl;
}

.platform-commission-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px; /* إضافة مسافة بين الصورة والنص */
}

.image-container img {
  width: 300px; /* تكبير حجم الصورة */
  height: auto;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.text-container {
  text-align: right;
  padding-left: 20px; /* إضافة مسافة إضافية إذا لزم الأمر */
}

.text-container h2 {
  color: #28a745;
}

.text-container p {
  margin: 5px 0;
  font-size: 18px;
  font-weight: bold;
}
