<div class="document-container my-5">
    <div class="document-field">
        <label class="document-label">الفئة</label>
        <div class="document-value">الخدمات التخصصية</div>
    </div>

    <div class="document-field">
        <label class="document-label">رقم الوثيقة</label>
        <div class="document-value">FL-264867894</div>
    </div>

    <div class="document-field">
        <label class="document-label">الاسم</label>
        <div class="document-value">مؤسسة وسيط لخدمات التعميد فردية مسؤولية شخص واحد</div>
    </div>

    <div class="document-field">
        <label class="document-label">المهنة</label>
        <div class="document-value">وسيط للتعميد</div>
    </div>

    <div class="document-field">
        <label class="document-label">تاريخ الاصدار</label>
        <div class="document-value">May 9, 2022</div>
    </div>

    <div class="document-field">
        <label class="document-label">الانتهاء</label>
        <div class="document-value">May 9, 2029</div>
    </div>
    <div class="document-field">
        <label class="document-label">الانتهاء</label>
        <div class="document-value">May 9, 2025</div>
    </div>

    <div class="document-field">
        <label class="document-label">الحساب البنكي</label>
        <div class="document-value">الحساب البنكي</div>
    </div>

    <div class="document-field">
        <label class="document-label">الموقع الالكتروني</label>
        <div class="document-value">الموقع الالكتروني</div>
    </div>

    <p class="description">
        هذه البيانات تؤكد تسجيل الفرد كمستقل في نظام وزارة الموارد البشرية والتنمية الاجتماعية
        دون مسؤولية أو ضمانات من الوزارة للمهارات في المهن المذكورة.
    </p>

    <p class="description fw-bold">
        تم إصدار وثيقة العمل الحر بعد استيفاء المتطلبات المحددة من الجهة المختصة لممارسة المهنة
        الواردة بموجبها في حال وجود جهات اختصاص.
    </p>
</div>