<div class="terms-container" dir="rtl">
    <div class="text-center">
      <img src="../../assets/logo.jpeg" alt="الشروط والأحكام" class="terms-icon">
      <h2>الشروط والأحكام</h2>
    </div>
  
    <p>
      بعد التسجيل تعتبر موافقا على كافة الشروط. تعتبر هذه الشروط من الأمور القانونية الأساسية التي توضح التزامات الأطراف المعنية في استخدام الموقع. إذا كنت لا توافق على هذه الشروط، يرجى عدم استخدام الموقع.
    </p>
    
    <h3>التزامات المستخدمين:</h3>
    <ul>
      <li>الالتزام بجميع القوانين المحلية والدولية المعمول بها.</li>
      <li>الامتناع عن نشر أو إرسال أي محتوى غير قانوني أو ضار أو فاحش أو غير لائق.</li>
      <li>تجنب أي فعل قد يؤدي إلى تعطيل الموقع أو إلحاق الضرر به أو بالمستخدمين الآخرين.</li>
      <li>تقديم معلومات دقيقة وصحيحة عند التسجيل أو في أي وقت عند استخدام الموقع.</li>
      <li>عدم استخدام الموقع لأي غرض تجاري دون إذن مسبق من الجهة المعنية.</li>
    </ul>
    
    <h3>الشروط العامة:</h3>
    <ul>
      <li>تحتفظ الجهة المعنية بالحق في تعديل الشروط والأحكام في أي وقت دون إشعار مسبق.</li>
      <li>جميع التعديلات ستصبح سارية فور نشرها على الموقع.</li>
      <li>ينبغي عليك مراجعة الشروط والأحكام بانتظام لضمان معرفتك بأحدث التعديلات.</li>
      <li>استمرارك في استخدام الموقع بعد تعديل الشروط يعتبر قبولاً منك بالشروط المعدلة.</li>
    </ul>
    
    <p class="footer-text">
      إذا كان لديك أي استفسار بخصوص الشروط والأحكام، يمكنك الاتصال بنا عبر البريد الإلكتروني أو الهاتف.
    </p>
  </div>
  