<div class="services-section">
    <div class="services-cards">
      <!-- First Card -->
      <div class="service-card">
        <img src="../../assets/pers.png" alt="خدمة الأفراد" class="service-image">
        <button class="service-btn">خدمة الأفراد</button>
        <p>خدمات متنوعة للأفراد تساعدك على الحصول على الخدمة المطلوبة بسهولة.</p>
      </div>
  
      <!-- Second Card -->
      <div class="service-card">
        <img src="../../assets/comp.png" alt="خدمة الوكالات" class="service-image">
        <button class="service-btn">خدمة الوكالات</button>
        <p>مواكبة للعمليات التجارية والإدارية لضمان سلاسة الإجراءات القانونية.</p>
      </div>
  
      <!-- Third Card -->
      <div class="service-card">
        <img src="../../assets/vip.png" alt="خدمة VIP" class="service-image">
        <button class="service-btn">خدمة VIP</button>
        <p>تجربة فاخرة وسريعة للمستفيدين من خدماتنا المميزة والخاصة.</p>
      </div>
    </div>
    <div class="logo-slider">
      <div class="logo-slides" [ngStyle]="{'transform': 'translateX(' + (-currentLogoSlide * 100 / logosPerSlide) + '%)'}">
        <div *ngFor="let chunk of logoChunks" 
             class="logo-slide">
          <div class="logo-item" *ngFor="let logo of chunk">
            <img [src]="logo.image" alt="Logo" class="logo">
          </div>
        </div>
      </div>
    
      <div class="logo-controls">
        <div class="prev" (click)="prevLogoSlide()">&#8249;</div>
        <div class="next" (click)="nextLogoSlide()">&#8250;</div>
      </div>
    
      <div class="logo-dots">
        <span *ngFor="let chunk of logoChunks; let i = index"
              class="dot" 
              [ngClass]="{'active': i === currentLogoSlide}"
              (click)="setLogoSlide(i)">
        </span>
      </div>
    </div>
    
    